<div class="cart">
  <div class="row">
    <div class="col-xs-12">

      <div class="text-center" ng-hide="items.length">
        <h2>Your shopping cart is empty :(</h2>
        <br>
        <a ng-href="#/home" class="btn btn-lg btn-success">
          Get started!
        </a>
      </div>

      <ul ng-if="items" class="list-group text-center">
        <li ng-repeat="item in items" class="list-group-item">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <h4><b>{{ item.product.name }}</b></h4>
              <img class="img-responsive center-block" src="{{ item.product.image}}" alt="">
            </div>
            <div class="col-xs-12 col-sm-3">
              <h4>Quantity: <b>{{ item.qty }}</b></h4>
              <h4>Details:</h4>
              <p>{{ item.product.description }}</p>
            </div>
            <div class="col-xs-12 col-sm-3">
              <h4>Subtotal {{ item.qty * item.product.price | currency: '$' }}</b></h4>
              ({{ item.qty }} x {{ item.product.price | currency: '$'}})
            </div>
            <div class="col-xs-12 col-sm-3">
              <a class="btn btn-danger clearfix" ng-click="removeProduct(item.product, $index)">
                Remove Item <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>