<div class="main">
  <div class="row">
    <div class="product-listing" ng-repeat="product in products">
      <div class="clearfix" ng-if="$index % 3 === 0"></div>
      <hr ng-if="$index === 3">
      <div class="col-md-4">
        <h3><b>{{ product.name }}</b></h3>
        <img class="img-responsive img-thumbnail product-image" src="{{product.image}}" alt="">
        <div class="price">
          <h4>{{product.price | currency: "$"}}</h4>
        </div>
        <b>Categories:</b>
        <span class="tags" ng-repeat="tag in product.tags">
          <span class="label label-primary">{{tag}}</span>
        </span>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <p class="product-description">
              {{ product.description }}
            </p>
          </div>
          <div class="col-sm-12 col-xs-12">
            <button ng-click="addProduct(product.name, 1)" class="btn btn-block btn-success">
              <i class="fa fa-cart-plus"> Add to Cart</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>